/* libarary Font Size */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

/* Normaly */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 5000px;
  background-color: red;
}

/* شكل الاسكرول */

/* 1. تحديد عرض السكرول بار */
::-webkit-scrollbar {
  width: 9px;
}

/* 2. شكل الخلفية (المسار اللي بيمشي فيه السكرول) */
::-webkit-scrollbar-track {
  background: #004691;
  cursor: pointer;
}

/* 3. شكل "المقبض" نفسه (الجزء اللي بيتحرك) */
::-webkit-scrollbar-thumb {
  background: rgb(6, 89, 206);
  border-radius: 10px;
  width: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 48, 127);
}

/* Header Start */

/* Header End */
