/* libarary Font Size */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

/* Normaly */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(222, 236, 251);
}

a{
  text-decoration: none;
  display: inline-block;
  color: white;
}

ul{
  list-style: none;
}

/* شكل الاسكرول */

/* 1. تحديد عرض السكرول بار */
::-webkit-scrollbar {
  width: 9px;
}

/* 2. شكل الخلفية (المسار اللي بيمشي فيه السكرول) */
::-webkit-scrollbar-track {
  background: #004691;
  cursor: pointer;
}

/* 3. شكل "المقبض" نفسه (الجزء اللي بيتحرك) */
::-webkit-scrollbar-thumb {
  background: rgb(6, 89, 206);
  border-radius: 10px;
  width: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 48, 127);
}




/* Header Start */

header{
  max-width: 1600px;
  margin: auto;
}


header .navbar nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 170px;
}

header .navbar nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

header .navbar nav .logo{
  width: 200px;
  cursor: pointer;
}

header .navbar nav ul li a{
  color:rgb(48, 47, 47);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.4s ease;
  padding: 10px;
  border-radius: 15px;
    transform: translateY(10px);
}

header .navbar nav ul li a:hover{
  background-color: #004691;
  transform: translateY(0.5px);
  color: white;
}
/* Header End */
